/* @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Merienda&family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Roboto", sans-serif; */
  font-family: "Poppins", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

section {
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: #e83a59;
}

section .container {
  position: relative;
  width: 420px;
  height: 560px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  z-index: 3;
}

.container .current__user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 12px;
  border-bottom: 1px solid rgb(138, 131, 131);
}

.container .current__user__section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container .user__icon {
  height: 45px;
  width: 45px;
}

.current__user__section .current__user__details {
  max-width: 250px;
  margin: auto 10px;
  overflow-x: auto;
}

.current__user__details::-webkit-scrollbar {
  width: 0;
}

.current__user__section h4 {
  font-size: 18px;
  font-weight: 500;
  color: #000;
}

.current__user__section h5 {
  font-size: 16px;
  font-weight: 500;
  color: #000;
}

/* SEARCH BAR */

.container .search {
  width: 100%;
  height: 40px;
  font-size: 17px;
  padding: 0 13px;
  margin: 12px 0;
  border: 1px solid rgb(185, 177, 177);
  outline: none;
  border-radius: 3px;
}

/* AVAILABLE USER SECTION */

.available__user {
  max-height: 380px;
  overflow-y: auto;
}

.available__user::-webkit-scrollbar {
  width: 5px;
}

.available__user::-webkit-scrollbar-thumb {
  background: #e83a59;
  border-radius: 50px;
}

.available__user::-webkit-scrollbar-track {
  border-radius: 50px;
  background-color: #fff;
}

.available__user .available__user__section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 5px 5px 5px 0;
  background-color: rgb(218, 208, 208);
  border-radius: 5px;
  overflow-x: auto;
}

.available__user .user__link {
  text-decoration: none;
  color: #000;
}

.available__user__section .status {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: crimson;
}

.available__user__section::-webkit-scrollbar {
  width: 0px;
}

.available__user__section .available__user__node {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.available__user__node .available__user__detail {
  font-weight: 500;
  max-width: 240px;
  overflow-x: auto;
}

.available__user__detail::-webkit-scrollbar {
  display: none;
}

.available__user__detail h4,
.available__user__detail h5 {
  font-weight: 500;
  margin-left: 15px;
}

.bg-balls {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-width: 100%;
  z-index: 2;
  background: #e83a59;
}

.bg-balls:before,
.bg-balls:after {
  content: "";
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.bg-balls:before {
  background-color: orange;
  right: -75px;
  bottom: -75px;
}

.bg-balls:after {
  background-color: green;
  top: -75px;
  left: -75px;
}

@media screen and (max-width: 376px) {
  .current__user__section .current__user__details {
    max-width: 210px;
    overflow-x: auto;
  }

  .available__user__node .available__user__detail {
    max-width: 175px;
    overflow-x: auto;
  }

  .bg-balls:before {
    width: 220px;
    height: 220px;
    right: -110px;
    bottom: -110px;
  }
  .bg-balls:after {
    width: 220px;
    height: 220px;
    top: -110px;
    left: -110px;
  }
}
