@import url("https://fonts.googleapis.com/css2?family=Merienda&family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

section {
  position: relative;
  min-height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: #e83a59;
}

section .container {
  position: relative;
  width: 800px;
  height: 550px;
  background-color: #fff;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

section .container .user {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

section .container .user .imgBx {
  position: relative;
  width: 50%;
  height: 100%;
  transition: 0.5s;
  z-index: 3;
}

section .container .user .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section .container .user .formBx {
  position: relative;
  width: 50%;
  height: 100%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  transition: 0.5s;
  z-index: 3;
}

section .container .user .formBx form h2 {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
  color: #555;
}

section .container .user .formBx form select {
  cursor: pointer;
  font-size: 20px;
}

/* To remove the drop-down icon */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
}

section .container .user .formBx form select,
section .container .user .formBx form input {
  position: relative;
  width: 100%;
  padding: 10px;
  background: #e9e2e2;
  border: none;
  outline: none;
  box-shadow: none;
  margin: 8px 0;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 300;
  border-radius: 3px;
}

section .container .user .formBx form input[type="submit"],
section .container .user .formBx form .signUpButton {
  max-width: 120px;
  background-color: #677eff;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  letter-spacing: 1px;
  transition: 0.5s;
  font-weight: 500;
}

section .container .user .formBx form .signup {
  position: relative;
  margin-top: 20px;
  font-size: 14px;
  letter-spacing: 1px;
  color: #555;
  text-transform: uppercase;
  font-weight: 300;
}

section .container .user .formBx form a {
  text-decoration: none;
  font-weight: 600;
  color: #677eff;
}

section .container .user .formBx form .wrap-icons {
  position: relative;
}

section .container .user .formBx form .wrap-icons i {
  cursor: pointer;
  position: absolute;
  top: 35%;
  right: 3%;
}

i.active::before {
  content: "\f070";
}

.formBx form .wrap-icons .drop-down.active::before {
  content: "\f077";
  transform: rotate(180deg);
}

section .container .user .formBx form .logo {
  font-family: "Merienda", cursive;
  letter-spacing: 2px;
  font-size: 20px;
  color: #fff;
  background-color: rgb(54, 54, 197);
  padding: 8px 10px;
  margin: 10px 0px;
  text-align: center;
  border-radius: 10px;
}

.bg-balls {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-width: 100%;
  z-index: 2;
  background: #e83a59;
}

.bg-balls:before,
.bg-balls:after {
  content: "";
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.bg-balls:before {
  background-color: orange;
  right: -75px;
  bottom: -75px;
}

.bg-balls:after {
  background-color: green;
  top: -75px;
  left: -75px;
}

#loading {
  width: 2rem;
  height: 2rem;
  border: 5px solid #f3f3f3;
  border-top: 6px solid crimson;
  border-radius: 50%;
  margin: auto;
  visibility: hidden;
  animation: spin 1s linear infinite;
  z-index: 4;
}

#loading.display {
  visibility: visible;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 991px) {
  section .container {
    max-width: 400px;
  }

  section .container .imgBx {
    display: none;
  }

  section .container .user .formBx {
    width: 100%;
  }

  @media screen and (min-width: 476px) {
    .bg-balls:before {
      width: 220px;
      height: 220px;
      right: -110px;
      bottom: -110px;
    }
    .bg-balls:after {
      width: 220px;
      height: 220px;
      top: -110px;
      left: -110px;
    }
  }
}
